/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.table {
	width: 50%;
	float: right;
	margin-top: 3em;
	margin-right: 14em;
}

.first_table {
	margin-right: 41px;
}

.second_table{
	margin-right: 253px;
	margin-top: -1px;
}



h1 {
	text-align: center
}

.form {
	position: absolute;
	margin-top: 2em; 
	margin-left: 3em;
	
}

.add_order_product{
	
	margin-top:  15px;
	margin-bottom:  15px;
}


.client-name{
	padding-top: 4px;
}


.wrapper
{
	width: 100%;
	max-width: 80rem;
	margin-left: auto;
	margin-right: auto;
/*⇑⇑⇑⇑⇑__margin: 0 auto;_⇑⇑⇑⇑⇑⇑⇑ same with__⇑⇑⇑*/
	padding: 5rem;
	box-sizing: border-box;
	border-style: solid;
	border-width: 0.1875rem;
}

.col_01 {
	width: 62.5%;
	float: left;
}

.col_01 > :first-child {
	margin-top: 0;
}

.col_02 {
	width: 36.5%;
	float: right;
	box-sizing: border-box;

}


.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;

}

.clearfix:after {
	clear: both;
}



@media (max-width: 85rem) {
	body {
		padding: 0 2.5rem;

	}
} 

@media (max-width: 80rem) {
	.wrapper {
		padding: 4.5rem;
	}

	.col_02 {
		padding-left: 4.5rem;
	}
} 

@media (max-width: 75rem) {
	.wrapper {
		padding: 4rem;
	}

	.col_02 {
		padding-left: 4rem;
	}
}


@media (max-width: 70rem) {
	.wrapper {
		padding: 3.5rem;
	}

	.col_02 {
		padding-left: 3.5rem;
	}
}

@media (max-width: 65rem) {
	.wrapper {
		padding: 3rem;
	}

	.col_02 {
		padding-left: 3rem;
	}
}



@media (max-width: 60rem) {

	h1 {

		font-size: 5.6vw;

	}

	h2 {

		font-size: 3.9vw;
		
	}

	.wrapper {
		padding: 4rem;
	}
	
	.col_01, .col_02 {

		float: none;
		width: 100%

	}

	.col_02 {
		padding-left: 0;
		padding-top: 4rem;
	}

} 









