<div class="container">
	<h1>Products</h1>
	<div class="form">
		<h3></h3>
		<%= render 'product' %>
	</div>


	<table class="table table-striped table-inverse ">

	  <thead>
	    <tr>
	      <th>Title</th>
	      <th>Price</th>
	      <th>Action</th>
	    </tr>
	  </thead>
	 	
	    <tbody>
			<% @products.each do |p| %>
	    		<tr>
					<td><%= p.title %></td> 	
					<td><%= number_to_currency(p.price, :unit => "$") %></td> 	
					<td><%= link_to 'Delete', product_path(p),
				           	  method: :delete, class: "btn btn-danger",
				            	 data: {confirm: 'Do you want to remove this Product?'} %> 	
				    </td>	             	 	
				</tr>
			<% end %>
		</tbody>		
	</table>

</div>